<div style="color: white">
  <ul style="color: white">
    <li *ngFor="let item of items | async" style="color: white">
      <pre style="color: white">{{ item | json }}</pre>
    </li>
  </ul>

  <div>
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      [(ngModel)]="email"
    />

    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="firsName"
      [(ngModel)]="firstName"
    />

    <button
      class="”form-control”"
      type="submit"
      class="btn btn-primary"
      (click)="save()"
    >
      Submit
    </button>
  </div>
</div>
