.app-mainband3 {
    background-color: rgba(253, 253, 253, 0.89);
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
    border: 2px;
    border-color: white;
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
}