.app-mainband2 {
    background-color: rgba(34, 34, 33, 0.801);
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
    border: 2px;
    border-color: white;
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
}